/*IMPORTANT*/

/*NOT IMPORTANT*/

.SwiperViewport {
  background: #ddd;
  height: 400px;
  padding-bottom: 30px;
  width: 650px;
  overflow: auto;
}

.SwiperBlock {
  background: #fff;
  height: 400px;
  width: 400px;
}
.SwiperBlock-1 {
  background: #4AD9E2;
}
.SwiperBlock-2 {
  background: #eee;
}
.SwiperBlock-3 {
  background: #2FA3AA;
}
