.App {
  display: flex;
  flex-direction: column;
  /*height: 100vh;*/
  /*height: 100%;*/
  /*min-height: 100vh;*/
  min-height: 100%;
}

.AppContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.AppContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
  -webkit-overflow-scrolling: touch;
}
