.HistoryPageContent {
  padding: 0;
}

.HistoryHeader {
  height: 50px;
  width: 100vw;
}

.HistoryHeader h1 {
  color: #8FBED9;
  letter-spacing: -0.5px;
  line-height: 1;
  margin: 20px 0;
  text-align: center;
}

.HistoryHeader a {
  font-size: 1.25em;
  text-decoration: none;
  position: absolute;
  right: 10px;
  top: 25px;
  color: #ccc;
  border-bottom: 2px solid #ddd;
}

.HistoryGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.HistoryRecord {
  background: #FFF;
  border: 4px solid #FFF;
  border-bottom: none;
  min-height: calc(25vh);
  min-width: 12.5vw;
  flex-basis: 0;
  flex-grow: 0;
  position: relative;
  padding-bottom: 20%;
}
.HistoryRecord--empty {
  background: #F8F8F8;
}
.HistoryRecord:nth-child(8n) {
  border-right-width: 8px;
}
.HistoryRecord:nth-child(8n+1) {
  border-left-width: 8px;
}

.HistoryOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.HistoryOverlay ol {
  font-size: 2em;
  line-height: 1.5;
}

.HistoryOverlayClose {
  position: absolute;
  top: 30px;
  right: 30px;
}

.HistoryOverlay .CloseIcon line {
  stroke: #333;
}
