.HistoryPageContent {
  padding: 0;
  background-color: #000;
  cursor:none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.HistoryGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.HistoryRecord {
  background: #000;
  border: 4px solid #000;
  height: 33.333vh;
  min-width: 10vw;
  flex-basis: 0;
  flex-grow: 0;
  position: relative;
}
.HistoryRecord--empty {
  background: #222;
}
.HistoryRecord:nth-child(10n) {
  border-right-width: 8px;
}
.HistoryRecord:nth-child(10n+1) {
  border-left-width: 8px;
}
.HistoryRecord:nth-child(-n+10) {
  border-top-width: 10px;
}
.HistoryRecord:nth-last-child(-n+10) {
  border-bottom-width: 8px;
}

.HistoryLoader {
  background: linear-gradient(90deg, #FD7D5A, #DEE6EA, #B7E2F3);
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.HistoryLoaderPercentage {
  background: #000;
  height: 2px;
  position: absolute;
  top: 0;
  right: 0;
}
