.HomePageContent {
  background: linear-gradient(#CFECF8, #86CBEA);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.HomePageLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.HomePageIntroduction {
  color: var(--white);
  text-align: center;
}
.HomePageIntroduction h1 {
  line-height: 1.25;
  letter-spacing: -1px;
}
.HomePageIntroduction a {
  color: var(--white);
}
