.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.AppContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.AppContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
}
