.Button {
  background-color: #546D8E;
  background-clip: padding-box;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: 'Roboto Mono Regular', monospace;
  font-size: 18px;
  padding: 15px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  text-decoration: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  transition: background-color 100ms;
}

.Button:hover,
.Button:focus {
  background-color: #95ACCB;
}

.Button:active {
  background-color: #95ACCB;
}

.Button:disabled {
  background-color: #bbb;
  cursor: default;
  color: #ddd;
}
