.Button {
  background-color: var(--mid-accent);
  background-clip: padding-box;
  border: none;
  border-radius: 4px;
  color: var(--white);
  cursor: pointer;
  display: block;
  font-family: var(--regular-font-family);
  font-size: 18px;
  padding: 15px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  text-decoration: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  transition: background-color 100ms;
}

.Button:hover,
.Button:active,
.Button:focus {
  background-color: var(--light-accent);
}

.Button:disabled {
  background-color: var(--midlight-grey);
  color: var(--mid-grey);
  cursor: default;
}
