.Button {
  background-color: #666;
  background-clip: padding-box;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  padding: 15px;
  width: 100%;
  outline: none !important;
  box-shadow: none !important;
  text-decoration: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  transition: background-color 300ms;
}

.Button:hover,
.Button:focus {
  background-color: #444;
}

.Button:active {
  background-color: #222;
}

.Button:disabled {
  background-color: #ddd;
  cursor: default;
}
