.Detail {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: hidden;
  transition: top 600ms ease-in-out;
}

.Detail-0 {
  top: 0;
}
.Detail-1 {
  top: -60%;
}
.Detail-2 {
  top: -80%;
}

.EmotionHeader {
  color: #fff;
  left: 50%;
  line-height: 1;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%,-100%);
  width: 100%;
}
