.DetailScene {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: hidden;
  transition: top 600ms ease-in-out;
}

.DetailEmotionHeader {
  color: #fff;
  left: 10px;
  line-height: 1;
  position: absolute;
  text-align: left;
  top: 10px;
  z-index: 50;
}

.DetailEmotionName {
  font-weight: 300;
  margin: 0 0 5px;
}

.DetailEmotionDate {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}
