.Detail {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: hidden;
  transition: top 600ms ease-in-out;
}

.Detail-0 {
  top: -43px;
}
.Detail-1 {
  top: calc(-40% - 43px);
}
.Detail-2 {
  top: calc(-40% - 43px);
}

.EmotionHeader {
  color: #fff;
  left: 50%;
  line-height: 1;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%,-100%);
  width: 100%;
}

.EmotionName {
  margin-bottom: 0.33em;
}

.EmotionDate {
  text-transform: uppercase;
}
