.EmotionHeader--Slim {
  color: #fff;
  left: 10px;
  line-height: 1;
  position: absolute;
  text-align: left;
  top: 10px;
  z-index: 50;
}

.EmotionName--Slim {
  font-weight: 300;
  margin: 0 0 5px;
}

.EmotionDate--Slim {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}
