.Footer {
  border: none;
  background-color: #95ACCB;
  display: flex;
}

.FooterAction {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  flex-grow: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.FooterAction--active {
  color: #546D8E;
}
