.Footer {
  background-color: var(--bright-grey);
  border-top: 1px solid var(--light-grey);
  display: flex;
}

.FooterAction {
  color: var(--middark-grey);
  font-size: 12px;
  flex-grow: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.FooterAction--active {
  color: var(--dark-grey);
}

/* TRANSPARENT FOOTER */
.Footer--transparent {
  background-color: transparent;
  border-top: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
}
.Footer--transparent .FooterAction {
  color: rgba(255,255,255,0.8);
}
.Footer--transparent .FooterAction--active {
  color: rgba(255,255,255,1);
}
