.Input-text {
  background: none;
  border: none;
  border-bottom: 2px solid var(--white);
  border-radius: 0;
  color: var(--white);
  font-family: var(--font-family);
  margin: 0 0 10px;
  outline: 0;
  padding: 5px 0;
  width: 100%;
}

.Emotion-Input-text {
  font-size: 2em;
  text-align: center;
}

.Input-text:focus {
  border-color: var(--white);
}

.Input-text::-webkit-input-placeholder {
  color: var(--white);
  opacity: 0.5;
}
