.Form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  position: relative;
}

.Input-text {
  background: none;
  border: none;
  border-bottom: 2px solid var(--midlight-grey);
  border-radius: 0;
  font-family: var(--regular-font-family);
  margin: 0 0 10px;
  outline: 0;
  padding: 5px 0;
  width: 100%;
}

.Input-text:focus {
  border-color: var(--mid-grey);
}

.Input-date {
  font-family: var(--regular-font-family);
  background: none;
  border: none;
  border-bottom: 2px solid var(--midlight-grey);
  border-radius: 0;
  margin: 0 0 10px;
  outline: 0;
  padding: 5px 0;
  width: 100%;
}
