.GridScene {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.GridSky {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background-color 300ms ease;
  z-index: 10;
}

.GridAura {
  bottom: 0;
  left: 50%;
  line-height: 0;
  opacity: 0.7;
  position: absolute;
  transform: translate(-50%,-100%);
  width: calc(100% - 20px);
  z-index: 20;
}
.GridAura .injected-svg {
  bottom: 0;
  height: auto;
  position: absolute;
  width: 100%;
}
.GridAura--Withdraw {
  width: calc(100% - 30px);
}
.GridAura--Engage {
  width: 100%;
}

.GridHummock {
  bottom: 0;
  left: 50%;
  line-height: 0;
  position: absolute;
  transform: translate(-50%,-100%);
  width: calc(100% - 40px);
  z-index: 30;
}
.GridHummock .injected-svg {
  bottom: 0;
  height: auto;
  position: absolute;
  width: 100%;
}

.GridWave {
  bottom: 0;
  left: -2px;
  right: -2px;
  line-height: 0;
  position: absolute;
  z-index: 40;
}
.GridWave .injected-svg {
  bottom: 0;
  height: auto;
  position: absolute;
  width: 100%;
}

.GridEmotionHeader {
  color: #fff;
  left: 10px;
  line-height: 1;
  position: absolute;
  text-align: left;
  top: 10px;
  z-index: 50;
}

.GridEmotionName {
  font-weight: 300;
  margin: 0 0 5px;
}

.GridEmotionDate {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}
