.Header {
  background-color: #fafafa;
  border-bottom: 1px solid #e8e8e8;
  position: relative;
}

.HeaderTitle {
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.HeaderActionLeft {
  position: absolute;
  left: 20px;
  top: 0;
}

.HeaderActionRight {
  position: absolute;
  right: 20px;
  top: 0;
}

.HeaderAction {
  color: #999;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}
