.Header {
  background-color: var(--bright-grey);
  border-bottom: 1px solid var(--light-grey);
  position: relative;
}

.HeaderTitle {
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.HeaderActionLeft {
  position: absolute;
  left: var(--horizontal-padding);
  top: 0;
}

.HeaderActionRight {
  position: absolute;
  right: var(--horizontal-padding);
  top: 0;
}

.HeaderAction {
  color: var(--middark-grey);
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}
