.Header {
  background-color: var(--white);
  box-shadow: 0 1px 0 rgba(0,0,0,0.08);
  display: flex;
}

.HeaderTitle {
  flex-grow: 1;
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.HeaderActionLeft {
  position: absolute;
  left: var(--horizontal-padding);
}

.HeaderActionRight {
  position: absolute;
  right: var(--horizontal-padding);
}

.HeaderAction {
  color: var(--middark-grey);
  font-size: 12px;
  flex-grow: 0;
  text-decoration: none;
  text-transform: uppercase;
}

.Header--transparent {
  background-color: transparent;
  box-shadow: none;
  position: absolute;
  bottom: auto;
  left: 0;
  right: 0;
  top: 0;
}
.Header--transparent .HeaderAction {
  color: rgba(255,255,255,0.8);
}
