.HistoryScene {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.HistorySky {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background-color 300ms ease;
  z-index: 10;
}

.HistoryAura {
  bottom: 0;
  left: 50%;
  line-height: 0;
  opacity: 0.7;
  position: absolute;
  transform: translate(-50%,-100%);
  width: calc(12.5vw - 20px);
  z-index: 20;
}
.HistoryAura .injected-svg {
  bottom: 0;
  height: auto;
  position: absolute;
  width: 100%;
}
.HistoryAura--Withdraw {
  width: calc(12.5vw - 40px);
}

.HistoryHummock {
  bottom: 0;
  left: 50%;
  line-height: 0;
  position: absolute;
  transform: translate(-50%,-100%);
  width: calc(12.5vw - 40px);
  z-index: 30;
}
.HistoryHummock .injected-svg {
  bottom: 0;
  height: auto;
  position: absolute;
  width: 100%;
}

.HistoryWave {
  bottom: 0;
  left: -1px;
  line-height: 0;
  position: absolute;
  width: calc(100% + 2px);
  z-index: 40;
}
.HistoryWave .injected-svg {
  bottom: 0;
  height: auto;
  position: absolute;
  width: 100%;
}

.HistoryWaves {
  background: linear-gradient(rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 1));
  bottom: 0;
  height: 50px;
  left: 0;
  line-height: 0;
  position: absolute;
  width: 100%;
  z-index: 40;
}

.HistoryWaves--1 {
  height: 20px;
}
.HistoryWaves--2 {
  height: 40px;
}
.HistoryWaves--3 {
  height: 50px;
}
.HistoryWaves--4 {
  height: 60px;
}
.HistoryWaves--5 {
  height: 80px;
}

.HistoryWaves canvas {
  height: 50px;
  width: 100%;
}
.HistoryWaves--1 canvas{
  height: 20px;
}
.HistoryWaves--2 canvas{
  height: 40px;
}
.HistoryWaves--3 canvas{
  height: 50px;
}
.HistoryWaves--4 canvas{
  height: 60px;
}
.HistoryWaves--5 canvas{
  height: 80px;
}

.HistoryEmotionHeader {
  color: #fff;
  left: 10px;
  line-height: 1;
  position: absolute;
  text-align: left;
  top: 10px;
  z-index: 50;
}

.HistoryEmotionName {
  font-weight: 300;
  margin: 0 0 5px;
}

.HistoryEmotionDate {
  text-transform: uppercase;
}
