.HistoryWaves {
  background: linear-gradient(rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 1));
  bottom: 0;
  height: 50px;
  left: 0;
  line-height: 0;
  position: absolute;
  width: 100%;
  z-index: 40;
}

.HistoryWaves--1 {
  height: 20px;
}
.HistoryWaves--2 {
  height: 40px;
}
.HistoryWaves--3 {
  height: 50px;
}
.HistoryWaves--4 {
  height: 60px;
}
.HistoryWaves--5 {
  height: 80px;
}

.HistoryWaves canvas {
  height: 50px;
  width: 100%;
}
.HistoryWaves--1 canvas{
  height: 20px;
}
.HistoryWaves--2 canvas{
  height: 40px;
}
.HistoryWaves--3 canvas{
  height: 50px;
}
.HistoryWaves--4 canvas{
  height: 60px;
}
.HistoryWaves--5 canvas{
  height: 80px;
}
