.History {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  background: #ddd;
  padding: 20px;
}

.Timeline {
  width: 2010px;
  overflow: hidden;
  height: 100%;
  background: #def;
}

.TimelineItem {
  float: left;
  height: 100%;
  width: 335px;
  background: #fff;
  border: 1px solid rgba(0,0,0,0.2);
}
