.MonthlyGrid {
  display: flex;
  flex-direction: column;
}

.WeeklyGrid {
  display: flex;
}

.HistoryItem {
  background: rgb(177, 242, 232);
  padding: 5px;
  text-align: right;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}
