.HistoryScene {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: hidden;
}

.HistorySky {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background-color 300ms ease;
  z-index: 10;
}

.HistoryAura {
  bottom: 0;
  left: 50%;
  line-height: 0;
  position: absolute;
  transform: translate(-50%,-100%);
  width: calc(20vw - 20px);
  z-index: 20;
}
.HistoryAura .injected-svg {
  bottom: 0;
  height: auto;
  position: absolute;
  width: 100%;
}

.HistoryHummock {
  bottom: 0;
  left: 50%;
  line-height: 0;
  position: absolute;
  transform: translate(-50%,-100%);
  width: calc(20vw - 40px);
  z-index: 30;
}
.HistoryHummock .injected-svg {
  bottom: 0;
  height: auto;
  position: absolute;
  width: 100%;
}

.HistoryWave {
  bottom: 0;
  left: -1px;
  line-height: 0;
  position: absolute;
  width: calc(100% + 2px);
  z-index: 40;
}
.HistoryWave .injected-svg {
  bottom: 0;
  height: auto;
  position: absolute;
  width: 100%;
}
