.Timeline {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  background: #ddd;
  padding: 20px;
}

.TimelineItem {
  padding: 50px;
  background: #fff;
  margin-bottom: 5px;
}
