.CloseIcon {
  opacity: 0.5;
  position: relative;
  top: 4px;
}
.CloseIcon line{
  fill: none;
  stroke: rgba(255,255,255,1);
  stroke-width: 2px;
  stroke-linecap: round;
}

.DetailIcon line{
  fill: none;
  stroke: rgba(255,255,255,0.5);
  stroke-width: 3px;
  stroke-linecap: round;
}
