.Layout {
  height: 100%;
}

.LayoutContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.LayoutContent {
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: var(--horizontal-padding);
  position: relative;
  -webkit-overflow-scrolling: touch;
}

.TypeContent {
  line-height: 1.5;
}

.LayoutBar {
  flex-shrink: 0;
  height: 44px;
  line-height: 44px;
  padding: 0 var(--horizontal-padding);
  vertical-align: middle;
  z-index: 100;
}
