.Layout {
  height: 100%;
}

.LayoutContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.LayoutContent {
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: var(--horizontal-padding);
  position: relative;
  -webkit-overflow-scrolling: touch;
}

.TypeContent {
  line-height: 1.5;
}

.LayoutBar {
  flex-shrink: 0;
  height: var(--layoutbar-height);
  line-height: var(--layoutbar-height);
  padding: 0 var(--horizontal-padding);
  vertical-align: middle;
  z-index: 100;
}

.LayoutRow {
  --s: 5px;
  --m: 10px;
  --l: 20px;
}

.LayoutRow.Top-s { margin-top: var(--s)}
.LayoutRow.Top-m { margin-top: var(--m)}
.LayoutRow.Top-l { margin-top: var(--l)}
.LayoutRow.Bottom-s { margin-bottom: var(--s)}
.LayoutRow.Bottom-m { margin-bottom: var(--m)}
.LayoutRow.Bottom-l { margin-bottom: var(--l)}
