.Layout {
  height: 100%;
  background: #fff;
}

.LayoutContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.LayoutContent {
  overflow-y: scroll;
  overflow-x: hidden;
  flex-grow: 1;
  padding: 20px;
  -webkit-overflow-scrolling: touch;
}

.LayoutBar {
  flex-shrink: 0;
  height: 44px;
  line-height: 44px;
  padding: 0 20px;
  vertical-align: middle;
}

.LayoutHeader {
  border-bottom: 1px solid #eee;
}

.LayoutFooter {
  border-top: 1px solid #eee;
}
