.ListGroup {
  background: #fff;
}

.ListHeader {
  border-bottom: 1px solid #f0f0f0;
  color: #999;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 36px;
  padding: 16px 20px 0;
}

.List {
  margin: 0;
  padding: 0;
}

.ListItem {
  background: #fff;
  border-bottom: 1px solid #f8f8f8;
  list-style: none;
  line-height: 36px;
  position: relative;
  padding: 0 20px;
}

.ListLinkItem,
.ListLinkSwitchItem {
  padding: 0;
}

.ListLink {
  background: #fff;
  color: #333;
  cursor: pointer;
  display: block;
  padding: 0 20px;
  text-decoration: none;
}

.ListLink:active {
  background: #f8f8f8;
}

.ListSwitch {
  position: absolute;
  top: 5px;
}

.ListSwitchItem .ListSwitch {
  right: 20px;
}

.ListLinkSwitchItem .ListSwitch {
  right: 50px;
}

.ListLinkIcon {
  position: absolute;
  right: 20px;
  top: 2px;
}

.ArrowRight polyline{
    fill: none;
    stroke: #d8d8d8;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}
