.ListGroup {
  background: #fff;
}

.ListHeader {
  border-bottom: 1px solid #f0f0f0;
  font-size: 12px;
  line-height: 36px;
  padding: 16px 20px 0;
}

.List {
  margin: 0;
  padding: 0;
}

.ListItem {
  list-style: none;
  position: relative;
}

.ListLink,
.ListLink:visited {
  background: #fff;
  border-bottom: 1px solid #f8f8f8;
  color: #333;
  display: block;
  line-height: 36px;
  padding: 0 20px;
  text-decoration: none;
}

.ListLinkAction {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.ArrowRight polyline{
    fill: none;
    stroke: #ddd;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}
