.Pagination {
  background-color: var(--bright-grey);
  box-shadow: 0 -1px 0 rgba(0,0,0,0.08);
  display: flex;
}

.PaginationActionLeft {
  left: var(--horizontal-padding);
  display: flex;
  justify-content: center;
}

.PaginationActionRight {
  right: var(--horizontal-padding);
  display: flex;
  justify-content: center;
}

.PaginationAction {
  color: var(--middark-grey);
  font-size: 12px;
  font-weight: bold;
  flex-grow: 0;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  box-shadow: none;
  text-decoration: none;
  line-height: 1;
}

.PaginationAction:disabled {
  color: var(--mid-grey);
}

.PaginationDots {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.PaginationDot {
  margin: auto 5px;
}

.PaginationDot circle {
  transition: all 300ms ease;
  fill: var(--middark-grey);
}

.PaginationDot--past circle {
  fill: var(--middark-grey);
}

.PaginationDot--active circle {
  fill: var(--dark-grey);
  r: 6;
}

.PaginationDot--next circle {
  fill: var(--mid-grey);
}

.Pagination--transparent {
  background-color: transparent;
  box-shadow: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
}
.Pagination--transparent .PaginationAction {
  color: rgba(255,255,255,0.8);
}
.Pagination--transparent .PaginationAction:disabled {
  color: rgba(255,255,255,0.4);
}
.Pagination--transparent .PaginationDot circle {
  fill: rgba(255,255,255,1);
}
.Pagination--transparent .PaginationDot--past circle {
  fill: rgba(255,255,255,0.6);
}
.Pagination--transparent .PaginationDot--active circle {
  fill: rgba(255,255,255,1);
}
.Pagination--transparent .PaginationDot--next circle {
  fill: rgba(255,255,255,0.2);
}
