.Pagination {
  background-color: var(--bright-grey);
  box-shadow: 0 -1px 0 rgba(0,0,0,0.08);
  display: flex;
}

.PaginationActionLeft,
.PaginationActionRight {
  display: flex;
  flex-basis: 100px;
  flex-grow: 1;
  height: var(--layoutbar-height);
}

.PaginationActionLeft {
  justify-content: flex-start;
  left: var(--horizontal-padding);
}

.PaginationActionRight {
  justify-content: flex-end;
  right: var(--horizontal-padding);
}

.PaginationAction {
  color: var(--middark-grey);
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 40em) {
  .PaginationAction {
    font-size: 1em;
  }
  .PaginationActionLabel {
    min-width: 86px;
  }
}
.PaginationAction:disabled {
  color: var(--mid-grey);
}

.PaginationActionLeft .PaginationAction{
  justify-content: flex-start;
}

.PaginationActionRight .PaginationAction{
  justify-content: flex-end;
}

.PaginationActionLabel {
  display: block;
  margin: 0 5px;
  width: 66px;
}

.PaginationActionLeft .PaginationActionLabel{
  text-align: left;
}

.PaginationActionRight .PaginationActionLabel{
  text-align: right;
}

.PaginationActionIcon {
  display: flex;
  align-items: center;
  width: 24px;
}

.PaginationDots {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.PaginationDot {
  margin: auto 5px;
}

.PaginationDot circle {
  transition: all 300ms ease;
  fill: var(--middark-grey);
}

.PaginationDot--past circle {
  fill: var(--middark-grey);
}

.PaginationDot--active circle {
  fill: var(--dark-grey);
  r: 6;
}

.PaginationDot--next circle {
  fill: var(--mid-grey);
}

.Pagination--transparent {
  background-color: transparent;
  box-shadow: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
}
.Pagination--transparent .PaginationAction {
  color: rgba(255,255,255,0.8);
}
.Pagination--transparent .PaginationAction:disabled {
  color: rgba(255,255,255,0.4);
}
.Pagination--transparent .PaginationAction polygon{
  fill: rgba(255,255,255,0.8);
}
.Pagination--transparent .PaginationDot circle {
  fill: rgba(255,255,255,1);
}
.Pagination--transparent .PaginationDot--past circle {
  fill: rgba(255,255,255,0.6);
}
.Pagination--transparent .PaginationDot--active circle {
  fill: rgba(255,255,255,1);
}
.Pagination--transparent .PaginationDot--next circle {
  fill: rgba(255,255,255,0.2);
}
