.Recording {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: hidden;
  transition: top 600ms ease-in-out;
}

.Recording--Step-1 {
  top: 0;
}
.Recording--Step-1 {
  top: -50%;
}
.Recording--Step-2 {
  top: -80%;
}
.Recording--Step-3 {
  top: -50%;
}
.Recording--Step-4 {
  top: -50%;
}

.Sky {
  height: 90vh;
  transition: background-color 300ms ease;
}
.Aura {
  left: 50%;
  line-height: 0;
  position: absolute;
  transform: translate(-50%,-100%);
  width: calc(var(--square) - 40px);
}
.Hummock {
  left: 50%;
  line-height: 0;
  position: absolute;
  transform: translate(-50%,-100%);
  width: calc(var(--square) - 80px);
}
.Bummock {
  left: 50%;
  line-height: 0;
  position: absolute;
  transform: translate(-50%,0);
  width: calc(var(--square) - 80px);
}
.Wave {
  /*Essential*/
  height: 40px;
  left: 50%;
  line-height: 0;
  position: absolute;
  transform: translate(-50%,-100%);
  width: 100%;
  /*Cosmetic*/
  background-color: rgba(255,255,255,0.2);
}
.SeaBackground {
  height: 100vh;
  background: #00484F;
}
.SeaForeground {
  background: linear-gradient(rgba(0,65,71,1), rgba(0,72,79,0));
  position: absolute;
  height: 200px;
  top: 90vh;
  left: 0;
  right: 0;
}
