.Recording {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  position: absolute;
  transition: top 600ms ease-in-out;
  z-index: 0;
}

.Recording--Step-0 {
  top: -44px;
}
.Recording--Step-1 {
  top: -60%;
}
.Recording--Step-2 {
  top: -80%;
}
.Recording--Step-3 {
  top: -44px;
}
.Recording--Step-4 {
  top: -45%;
}
