.Recorder {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  right: 40px;
}

.Recorder--EmotionEntry,
.Recorder--EmotionSelection,
.Recorder--EmotionSubSelection {
  top: 10%;
}
.Recorder--Dimensions {
  top: 30%;
}
.Recorder--Trigger {
  top: 30%;
}
.Recorder--Action {
  top: 10%;
}
.Recorder--Review {
  top: 10%;
}

.RecorderHeadline,
.RecorderSubheadline {
  color: var(--white);
  letter-spacing: -0.5px;
  text-align: center;
}

.RecorderTransition{
  position: absolute;
  top: 0;
  bottom: 0;
  left: var(--horizontal-padding);
  right: var(--horizontal-padding);
}

.RecorderTransitionForward-enter{
  opacity: 0;
  transform: translate3d( calc(50% + var(--horizontal-padding)), 0, 0);
}

.RecorderTransitionBackward-enter {
  opacity: 0;
  transform: translate3d( calc(-50% - var(--horizontal-padding)), 0, 0);
}

.RecorderTransitionForward-enter-active,
.RecorderTransitionBackward-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 600ms ease, opacity 600ms ease;
  transition-delay: 400ms;
}
.RecorderTransitionForward-leave,
.RecorderTransitionBackward-leave {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 600ms ease, opacity 600ms ease;
  transition-delay: 0ms;
}

.RecorderTransitionForward-leave-active{
  opacity: 0;
  transform: translate3d( calc(-50% - var(--horizontal-padding)), 0, 0);
}

.RecorderTransitionBackward-leave-active {
  opacity: 0;
  transform: translate3d( calc(50% + var(--horizontal-padding)), 0, 0);
}
