.Recording {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: hidden;
  transition: top 600ms ease-in-out;
}

.Recording--sky {
  top: 0;
}
.Recording--both {
  top: -40%;
}
.Recording--sea {
  top: -60%;
}

.RecordingTop {
  height: 80vh;
  background: #d3f1fe;
}
.RecordingBottom {
  height: 100vh;
  background: #539696;
}
