.Recorder {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding-top: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  right: 40px;
}

.RecorderHeadline,
.RecorderSubheadline {
  color: var(--white);
  text-align: center;
  text-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

.RecorderTransition {
  position: absolute;
  top: 0;
  bottom: 0;
  left: var(--horizontal-padding);
  right: var(--horizontal-padding);
}

.RecorderTransitionForward-enter {
  opacity: 0;
  transform: translate3d( calc(50% + var(--horizontal-padding)), 0, 0);
}

.RecorderTransitionBackward-enter {
  opacity: 0;
  transform: translate3d( calc(-50% - var(--horizontal-padding)), 0, 0);
}

.RecorderTransitionForward-enter-active,
.RecorderTransitionBackward-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 600ms ease, opacity 600ms ease;
  transition-delay: 400ms;
}
.RecorderTransitionForward-leave,
.RecorderTransitionBackward-leave {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 600ms ease, opacity 600ms ease;
  transition-delay: 0ms;
}

.RecorderTransitionForward-leave-active {
  opacity: 0;
  transform: translate3d( calc(-50% - var(--horizontal-padding)), 0, 0);
}

.RecorderTransitionBackward-leave-active {
  opacity: 0;
  transform: translate3d( calc(50% + var(--horizontal-padding)), 0, 0);
}
