.Recorder {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  position: relative;
}


/* TRANSITION STYLING*/
.RecorderTransition-enter {
  /*transform: translate3d( calc(100% + var(--horizontal-padding)), 0, 0);*/
}

.RecorderTransition-enter.RecorderTransition-enter-active {
  transform: translate3d(0, 0, 0);
  transition: all 0ms ease-in-out;
}

.RecorderTransition-leave {
  transform: translate3d(0, 0, 0);
  transition: all 0ms ease-in-out;
}
.RecorderTransition-leave.RecorderTransition-leave-active {
  /*transform: translate3d(-100%, 0, 0);*/
}

.Recorder {
  position: absolute;
  top: 0;
  left: var(--horizontal-padding);
  width: calc(100% - 2 * var(--horizontal-padding));
  height: 100%;
  z-index: 1000px;
}
