.Aura {
  left: 50%;
  line-height: 0;
  position: absolute;
  transform: translate(-50%,-100%);
  width: calc(var(--square) - 80px);
  transition: all 400ms;
}
.Aura .injected-svg {
  bottom: 0;
  height: auto;
  position: absolute;
  width: 100%;
}

.Hummock {
  left: 50%;
  line-height: 0;
  position: absolute;
  transform: translate(-50%,-100%);
  width: calc(var(--square) - 120px);
  transition: all 400ms;
}
.Hummock .injected-svg {
  bottom: 0;
  height: auto;
  position: absolute;
  width: 100%;
}

.Bummock {
  left: 50%;
  line-height: 0;
  position: absolute;
  transform: translate(-50%,0);
  width: calc(var(--square) - 120px);
  transition: all 400ms;
}
.Bummock .injected-svg {
  height: auto;
  position: absolute;
  width: 100%;
}

.Wave {
  left: 50%;
  line-height: 0;
  position: absolute;
  transform: translate(-50%,-100%);
  width: 100%;
}
.Wave .injected-svg {
  bottom: 0;
  height: auto;
  position: absolute;
  width: 100%;
}

.Sky {
  height: 100vh;
  transition: background-color 300ms ease;
}
.SeaBackground {
  height: 100vh;
  background: #00484F;
}
.SeaForeground {
  background: linear-gradient(rgba(0,65,71,1), rgba(0,72,79,0));
  position: absolute;
  height: 200px;
  top: 100vh;
  left: 0;
  right: 0;
}
