.Air {
  position: relative;
}

.Water {
  position: relative;
}

.Sky {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transition: background-color 300ms ease;
  z-index: 10;
}

.Aura {
  bottom: 0;
  left: 50%;
  line-height: 0;
  position: absolute;
  transform: translateX(-50%);
  width: calc(var(--square) - 80px);
  z-index: 20;
}
.Aura .injected-svg {
  bottom: 0;
  height: auto;
  position: absolute;
  width: 100%;
}
.Aura--Withdraw {
  width: calc(var(--square) - 120px);
}
.Aura--Other {
  bottom: 100px;
}
.Aura--Suppress {
  bottom: 100px;
}

.Wave {
  bottom: 0;
  left: 0;
  line-height: 0;
  position: absolute;
  right: 0;
  z-index: 40;
}
.Wave .injected-svg {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.Hummock {
  bottom: 0;
  left: 50%;
  line-height: 0;
  position: absolute;
  transform: translateX(-50%);
  width: calc(var(--square) - 120px);
  z-index: 30;
}
.Hummock .injected-svg {
  bottom: 0;
  height: auto;
  position: absolute;
  width: 100%;
}

.Bummock {
  left: 50%;
  line-height: 0;
  position: absolute;
  transform: translateX(-50%);
  width: calc(var(--square) - 120px);
  z-index: 30;
}
.Bummock .injected-svg,
.Bummock--1 .injected-svg {
  height: auto;
  position: absolute;
  width: 100%;
}

.Bummock--2 .injected-svg {
  width: 90%;
}
.Bummock--2 div:first-of-type > div > .injected-svg {
  left: 0;
}
.Bummock--2 div:last-of-type > div > .injected-svg {
  right: 0;
}

.Bummock--3 .injected-svg {
  width: 80%;
  left: 10%;
}
.Bummock--3 div:first-of-type > div > .injected-svg {
  left: 0;
}
.Bummock--3 div:last-of-type > div > .injected-svg {
  left: auto;
  right: 0;
}

.Sea {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.SeaBackground {
  background: linear-gradient(rgba(0,72,79,1) 0%, rgba(0,87,94,1) 30%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 10;
}

.SeaForeground {
  background: linear-gradient(rgba(0,72,79,1) 0%, rgba(0,87,94,.5) 30%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 40;
}

.SeaBubble {
  opacity: 0;
  position: absolute;
  background-color: rgba(0, 46, 51, 0.5);
  animation: bubbles 3s ease-in infinite;
  border-radius: 100%;
}

@keyframes bubbles {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translate(0, -20%);
  }
  100% {
    opacity: 0;
    transform: translate(0, -1000%);
  }
}
