.DimensionSlider {
  text-align: left;
}

.DimensionSlider-label {
  color: var(--white);
  display: block;
  font-size: 1em;
  margin: 0 0 5px;
  position: relative;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: moz-none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}

@media screen and (min-width: 40em) {
  .DimensionSlider-label {
    margin: 0 0 0.75em;
    font-size: 1.25em;
  }
}


/* RC SLIDER OVERRIDES*/
.rc-slider {
  height: 14px;
  padding: 5px 0;
  border-radius: 6px;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: moz-none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}
.rc-slider-rail {
  background-color: rgba(255,255,255,0.5);
  border-radius: 6px;
  height: 2px;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: moz-none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}
.rc-slider-track {
  background-color: rgba(255,255,255,1);
  border-radius: 6px;
  height: 2px;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: moz-none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}
.rc-slider-handle {
  margin-left: -12px;
  margin-top: -12px;
  width: 24px;
  height: 24px;
  border: solid 2px rgba(0,87,94,1);
  background-color: #fff;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: moz-none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}
.rc-slider-handle:hover {
  border-color: rgba(0,87,94,1);
}
.rc-slider-handle:active {
  border-color: rgba(0,87,94,1);
  box-shadow: none;
}
.rc-slider-handle::before {
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  border-radius: 50%;
  transform: translate(-14px, -14px);
  background-color: none;
}

/* RC TOOLTIP OVERRIDES*/
.rc-slider-tooltip-placement-top {
  padding: 4px 0 8px 0;
}
.rc-slider-tooltip-inner {
  padding: 6px 10px;
  min-width: 24px;
  height: 24px;
  font-size: 12px;
  color: #00484F;
  font-weight: 700;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: none;
}
.rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {
  bottom: 4px;
  left: 50%;
  margin-left: -4px;
  border-width: 4px 4px 0;
  border-top-color: #fff;
}
