.Switch {
  background-color: var(--light-accent);
  border: 1px solid var(--light-accent);
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 300ms, border-color 300ms;
  height: 24px;
  width: 48px;
  position: relative;
}

.Switch.on {
  background-color: var(--light-accent);
  border-color: var(--light-accent);
}

.Switch.off {
  background-color: var(--light-grey);
  border-color: var(--midlight-grey);
}

.Switch.disabled {
  background-color: var(--light-grey);
  border-color: var(--midlight-grey);
  cursor: default;
}

.SwitchButton {
  background-color: var(--white);
  background-clip: padding-box;
  border: 1px solid var(--light-accent);
  border-radius: 24px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  cursor: pointer;
  display: block;
  font-family: var(--regular-font-family);
  font-size: 10px;
  height: 24px;
  width: 24px;
  left: 0;
  right: 0;
  position: absolute;
  outline: none !important;
  text-align: left;
  text-decoration: none !important;
  text-transform: uppercase;
  transform: translateX(-100%);
  transition: color 300ms, border-color 300ms, left 300ms, right 300ms, transform 300ms, text-indent 300ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.SwitchButton.on {
  color: var(--white);
  left: 100%;
  right: 0%;
  transform: translateX(-100%);
  text-indent: -22px;
}

.SwitchButton.off {
  background-color: var(--white);
  border-color: var(--midlight-grey);
  color: var(--middark-grey);
  left: 0%;
  right: 100%;
  transform: translateX(0%);
  text-indent: 19px;
}

.SwitchButton.disabled {
  background-color: var(--light-grey);
  border-color: var(--midlight-grey);
  cursor: default;
  left: 0;
  right: auto;
  font-size: 0;
  text-indent: -99999px;
  color: transparent;
  box-shadow: none;
}
