.ToggleGroup {
  text-align: center;
}

.ToggleButton {
  background-color: rgba(255,255,255,0);
  background-clip: padding-box;
  border: 2px solid rgba(255,255,255,.5);
  border-radius: 20px;
  box-shadow: none !important;
  color: var(--white);
  cursor: pointer;
  display: block;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: var(--bold-font-weight);
  outline: none !important;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none !important;
  text-transform: uppercase;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: border 200ms ease, background-color 200ms ease, padding 200ms ease;
}

.ToggleButton--On,
.ToggleButton:focus,
.ToggleButton:active {
  background-color: rgba(255,255,255,0.2);
  border: 2px solid rgba(255,255,255,1);
}

.ToggleButton--Off {
  border: 2px solid rgba(255,255,255,.5);
}
