@font-face {
  font-family: 'Roboto Mono Regular';
  src: url('/assets/fonts/roboto/roboto-mono_regular.woff') format('woff'),
       url('/assets/fonts/roboto/roboto-mono_regular.ttf')  format('truetype')
}

@font-face {
  font-family: 'Roboto Mono Medium';
  src: url('/assets/fonts/roboto/roboto-mono_medium.woff') format('woff'),
       url('/assets/fonts/roboto/roboto-mono_medium.ttf')  format('truetype')
}

body {
  background: #fff;
  color: #222;
  font-family: 'Roboto Mono Regular', monospace;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
}
