@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Karla/Karla-Regular.woff') format('woff'),
       url('/assets/fonts/Karla/Karla-Regular.ttf')  format('truetype')
}

@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/Karla/Karla-Bold.woff') format('woff'),
       url('/assets/fonts/Karla/Karla-Bold.ttf')  format('truetype')
}

:root {
  --bright-accent:    #D9E9FF;
  --highlight-accent: #B8CBE6;
  --light-accent:     #99AECC;
  --midlight-accent:  #7D93B3;
  --mid-accent:       #637A99;
  --middark-accent:   #4C627F;
  --dark-accent:      #384B66;
  --night-accent:     #26354C;

  --white:          #fff;
  --bright-grey:    #f8f8f8;
  --light-grey:     #f0f0f0;
  --midlight-grey:  #ddd;
  --mid-grey:       #ccc;
  --neutral-grey:   #999;
  --middark-grey:   #555;
  --dark-grey:      #333;
  --night-grey:     #222;

  --font-family: 'Karla', sans-serif;
  --regular-font-weight: 400;
  --bold-font-weight: 700;

  --horizontal-padding: 20px;
  --layoutbar-height: 44px;
  --square: calc(100% - 2 * var(--horizontal-padding));
}

@media screen and (min-width: 40em) {
  :root {
    --square: 60%;
  }
}

* {
  box-sizing: border-box;
}

html, body, #root {
  background: var(--white);
  color: var(--night-grey);
  font-family: var(--font-family);
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: var(--dark-grey);
  cursor: pointer;
  text-decoration: none;
}
