@font-face {
  font-family: 'Roboto Mono Regular';
  src: url('/assets/fonts/roboto/roboto-mono_regular.woff') format('woff'),
       url('/assets/fonts/roboto/roboto-mono_regular.ttf')  format('truetype')
}

@font-face {
  font-family: 'Roboto Mono Medium';
  src: url('/assets/fonts/roboto/roboto-mono_medium.woff') format('woff'),
       url('/assets/fonts/roboto/roboto-mono_medium.ttf')  format('truetype')
}

:root {
  --bright-blue:    #D9E9FF;
  --highlight-blue: #B8CBE6;
  --light-blue:     #99AECC;
  --midlight-blue:  #7D93B3;
  --mid-blue:       #637A99;
  --middark-blue:   #4C627F;
  --dark-blue:      #384B66;
  --night-blue:     #26354C;

  --white:          #fff;
  --bright-grey:    #f8f8f8;
  --light-grey:     #f0f0f0;
  --midlight-grey:  #ddd;
  --mid-grey:       #ccc;
  --middark-grey:   #999;
  --dark-grey:      #333;
  --night-grey:     #222;

  --regular-font-family: 'Roboto Mono Regular', monospace;
  --bold-font-family: 'Roboto Mono Medium', monospace;

  --horizontal-padding: 20px;
}

html, body, #root {
  background: var(--white);
  color: var(--night-grey);
  font-family: var(--regular-font-family);
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: var(--dark-grey);
  cursor: pointer;
  text-decoration: none;
}
